<h1>Show Image</h1>

<ul>

  <li>
    <strong>Images:</strong>
    <%= @image.images.file_name %>
  </li>

  <li>
    <strong>Alt:</strong>
    <%= @image.alt %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.image_path(@conn, :edit, @image) %></span>
<span><%= link "Back", to: Routes.image_path(@conn, :index) %></span>
