<h1>Show Pieceless tactic</h1>

<ul>

  <li>
    <strong>Fen:</strong>
    <%= @pieceless_tactic.fen %>
  </li>

  <li>
    <strong>Solution:</strong>
    <%= @pieceless_tactic.solution %>
  </li>

  <li>
    <strong>Pieces:</strong>
    <%= @pieceless_tactic.pieces %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.pieceless_tactic_path(@conn, :edit, @pieceless_tactic) %></span>
<span><%= link "Back", to: Routes.pieceless_tactic_path(@conn, :index) %></span>
