.pieceless_piece_container {
    display: flex;
}

.pieceless_piece_square {
    line-height: 45px;
}

cg-board > piece {
	background-image: none !important;
    display: none !important;
}

square.last-move {
    display: none;
}

piece.ghost {
    display: none !important;
}

#pieceless_pieces {
    display: flex;
}
.pieceless_piece_container {
	background: var(--bg-highlight-color);
	padding: 2px 10px;
    margin: 0px 2px;
	border-radius: var(--small-border-radius);
}
#history_container {
    margin-bottom: 1em;
    margin-top: 1em;
}
#history {
	font-weight: bold;
}
