<h1>Show Opening faq</h1>

<ul>

  <li>
    <strong>Question:</strong>
    <%= @opening_faq.question %>
  </li>

  <li>
    <strong>Answer:</strong>
    <%= @opening_faq.answer %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.opening_faq_path(@conn, :edit, @opening_faq) %></span>
<span><%= link "Back", to: Routes.opening_faq_path(@conn, :index) %></span>
