<h1>New Expert recommendation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.expert_recommendation_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.expert_recommendation_path(@conn, :index) %></span>
