<h1>Show Event</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @event.name %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @event.slug %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @event.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
