<h1><%= gettext("Endgames") %></h1>
<p><%= gettext("No idea what to do in the endgame? Learn endgames by playing against stockfish.") %></p>

<%= for {slug, type} <- @endgame do %>
  <div class="highlight">
    <h2><%= type.name %></h2>
    <p><%= type.description %></p>
    <a href="<%= Routes.endgame_path(@conn, :chapter, @locale, slug) %>"><button class="secondary"><%= gettext("Learn") %></button></a>
  </div>
<% end %>


