.endgame_chapter_span {
    color: var(--font-color);
    padding: 20px 40px;
    background: var(--bg-highlight-color);
}
.endgame_chapter_link {
    text-decoration: none;
}

.endgame_fix {
    margin-top: 25px;
}

.endgame_solved {
    border-top: 3px var(--success-color) solid;
}
