.pgn_choice {
    background-color: var(--bg-highlight-color);
    border-radius: 4px;
    padding: 0.5em;
}

.chapter_selection {
    margin-top: 0.5em;
    max-width: 230px;
}

.study_favorite_form {
    margin-bottom: 0;
}

.study_options {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .sidebar_padded {
        padding-left: 1em;
    }
}

.study_options_below {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .study_options_below {
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
}

.large_clickarea {
    display: inline-block;
    width: 90%;
    position: relative;
    z-index: 1;
    padding: 1.5em 1.5em 1em 0em;
    margin: -1.5em -1.5em -1em 0em;
}

.study_option_item_below {
    margin-right: 3rem;
    min-width: 24ch;
}

.study_option_item_below > a {
	display: block;
}

.select2 {
    margin-bottom: 2.5rem !important;
}

.study_below_highlight {
    margin-top: 1.5rem;
}

.study_comments {
    overflow-y: auto;
    max-height: 20em;
}

.study_comments > div {
    margin-bottom: 0.8em;
    font-size: 0.9em;
}

.study_comments > div > .bold {
    font-weight: bolder;
    margin-right: 0.6em;
    font-size: 0.9em;
}

.study_search_results {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.study_search_result {
    flex: 250px;
    padding: 0.5em;
}

.study_progress {
    overflow-y: scroll;
    max-height: 20em;
}

.max_depth_label {
    display: inline-block;
    min-width: 2ch;
}

.max_depth_ctrl {
    min-width: 1ch;

    /* This all make the click area a little larger */
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0.4em;
    margin: -0.4em;

    /* Make it non-selectable */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.cg-wrap svg {
    opacity: 1 !important;
}

/*
 * The arrow head styles below are for PGN arrows, in their normal state, or if they
 * have not been played enough and need to be highlighted through the normal non-transparent opacity.
 */
 #arrowhead-playable_normal_green {
    stroke: hsl(120, 100%, 10%);
    stroke-width: 0.35;
    overflow: visible;
}
#arrowhead-playable_normal_blue {
    stroke: hsl(216, 100%, 20%);
    stroke-width: 0.35;
    overflow: visible;
}
#arrowhead-playable_normal_red {
    stroke: hsl(0, 100%, 25%);
    stroke-width: 0.35;
    overflow: visible;
}
#arrowhead-playable_normal_yellow {
    stroke: hsl(48, 100%, 15%);
    stroke-width: 0.35;
    overflow: visible;
}
/*
 * The arrow head styles below are for PGN arrows, when they have been played more
 * than some others and need to made more transparent.
 */
#arrowhead-playable_transparent_green {
    stroke: hsl(120, 100%, 10%);
    stroke-width: 0.2;
    overflow: visible;
}
#arrowhead-playable_transparent_blue {
    stroke: hsl(216, 100%, 20%);
    stroke-width: 0.2;
    overflow: visible;
}
#arrowhead-playable_transparent_red {
    stroke: hsl(0, 100%, 20%);
    stroke-width: 0.2;
    overflow: visible;
}
#arrowhead-playable_transparent_yellow {
    stroke: hsl(48, 100%, 15%);
    stroke-width: 0.2;
    overflow: visible;
}

/* #arrowhead-tn {
    display: none;
    visibility: hidden;
} */
/* 
line[cgHash *= "playable_pgn_normal_green"] {
    opacity: 0.9;
}
line[cgHash *= "playable_pgn_normal_blue"] {
    opacity: 0.9;
}
line[cgHash *= "playable_pgn_normal_red"] {
    opacity: 0.9;
}
line[cgHash *= "playable_pgn_normal_yellow"] {
    opacity: 0.9;
} */

/* line:has(#arrowhead-tg) {
    stroke: black;
    opacity: 1;
    stroke-width: 0.3;
    overflow: visible;
} */

/* #arrowhead-tb line {
    stroke: black;
    opacity: 1;
    stroke-width: 0.3;
    overflow: visible;
} */

.max_depth_range {
    width: 50px;
    margin-top: 3px;
    margin-bottom: unset;
    vertical-align: text-bottom;
}