.pgn_choice {
    background-color: var(--bg-highlight-color);
    border-radius: 4px;
    padding: 0.5em;
}

@media only screen and (max-width: 600px) {
    .study_options_right {
        position: relative !important;
    }
    .chapter_selection {
        max-width: 100% !important;
    }
}

@media only screen and (min-width: 600px) {
    .sidebar_innercontainer {
        height:0;
        min-height:100%;
        overflow-x: hidden;
        margin-bottom: 2em;
    }
}

#study_mainpage1 {
    margin-bottom: 2em;
}

@media only screen and (min-width: 600px) {
    .area_below_main {
        display: flex;
        flex-direction: row;
    }
}

.chapter_selection {
    flex: 0;
    margin-right: 2em;
    max-width: 250px;
}

.study_favorite_form {
    margin-bottom: 0;
}

.study_options_right {
    display: inline-block;
    flex: 0;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .sidebar_padded {
        padding-left: 1em;
    }
}

.study_options_left {
    flex: 2;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .study_options_left {
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
}

.large_clickarea {
    display: inline-block;
    width: 90%;
    position: relative;
    z-index: 1;
    padding: 1.5em 1.5em 1em 0em;
    margin: -1.5em -1.5em -1em 0em;
}

.study_option_item_below {
    margin-right: 3rem;
    min-width: 26ch;
}

.study_option_item_below > a {
	display: block;
}

.select2 {
    margin-bottom: 2.5rem !important;
}

.study_below_highlight {
    margin-top: 1.5rem;
}

.study_comments > div {
    margin-bottom: 0.8em;
    font-size: 0.9em;
}

.study_comments > div > .bold {
    font-weight: bolder;
    margin-right: 0.6em;
    font-size: 0.9em;
}

.study_search_results {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.study_search_result {
    flex: 250px;
    padding: 0.5em;
}

.study_progress {
    overflow-y: scroll;
    max-height: 20em;
}

.max_depth_label {
    display: inline-block;
    min-width: 2ch;
}

.max_depth_ctrl {
    min-width: 1ch;

    /* This all make the click area a little larger */
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0.3em;
    margin: -0.3em;

    /* Make it non-selectable */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.max_depth_range {
    width: 50px;
    margin-top: 3px;
    margin-bottom: unset;
    vertical-align: text-bottom;
}

.option-highlighted a {
    color: var(--warn-color);
}
