.pgn_choice {
    background-color: var(--bg-highlight-color);
    border-radius: 4px;
    padding: 0.5em;
}

.chapter_selection {
    max-width: 230px;
}

.study_favorite_form {
    margin-bottom: 0;
}

.study_options {
    margin-bottom: 2rem;
}

.select2 {
    margin-bottom: 2.5rem !important;
}

.study_below_highlight {
    margin-top: 1.5rem;
}

.study_comments {
    overflow-y: auto;
    max-height: 15em;
}
