/* This file is for your main application css. */

@import "./colors.css";
@import "./const.css";
@import "./navigation.css";
@import "./skeleton.css";
@import "./progress_bar.css";
@import "./inputs.css";
@import "./features/study.css";
@import "./features/endgames.css";
@import "./features/achievements.css";
@import "./components/breadcrumbs.css";
@import "./components/modal.css";
@import "./components/popup.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.success {
    color: var(--success-color);
    background-color: var(--success-bg);
}

.info {
    color: var(--info-color);
    background-color: var(--info-bg);
}

.error {
    color: var(--error-color);
    background-color: var(--error-bg);
}

.infoBox {
    margin: 10px 0px;
    padding:12px;
}

.hidden {
    display: none;
}

.box_shadow_hover:hover {
    box-shadow: 2px 8px 8px 2px var(--drop-shadow-color);
}

#comments{
    white-space: pre-line;
}

#share {
    text-align: center;
    margin-top: 1em;
}

.big_search {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: table;
}

.big_input {
    width: 100%;
}
.deep_input {
    height: 30em;
}


textarea:invalid {
  border: 2px dashed red;
}

/* Basic CSS */
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: Verdana, Geneva, sans-serif;
}

.hover_warn:hover {
    background-color: var(--warn-color) !important;
}

/* Sidebar */
.with_sidebar {
    display: flex;
}
@media only screen and (max-width: 600px) {
    .with_sidebar {
        display: block;
    }
    .sidebar {
        margin-left: 0px !important;
        
    }
    .study_options {
        position: relative !important;
    }
    .chapter_selection {
        max-width: 100% !important;
    }
}
.study_options {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar_main {
    z-index: 0;
    flex: 2;
}
.sidebar {
    flex: 1;
    margin-left: 2em;
    position: relative;
}

.continue_button {
    background-color: var(--primary-color);
    color: var(--primary-font-offset);
    width: 100%;
    height: initial;
    padding: 0.5em 30px;
    font-size: 16px;
}

.features-header {
    text-align: center;
    margin: 4em;
}

.highlight-button {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--primary-font-offset);
}

img {
    max-width: 100%;
}

.opening_svg {
    float: right;
    max-width: 100%;
    padding-left: 1em;
    padding-bottom: 1em;
}

.highlight {
    background: var(--bg-highlight-color);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: var(--small-border-radius);
}

iframe {
    max-width: 100%;
}

.float_right {
    float: right;
}

.chessground_piece {
    width: 45px;
    height: 45px;
    background-size: 45px;
    display: block;
}
.settings_piece_container {
    display: flex;
}
