@font-face {
    font-family: 'listudy';
    src: url('/css/fonts/listudy/listudy.woff2');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    content: attr(data-icon);
    font-family: 'listudy';
}

a.icon:before {
    margin-right: 0.4em;
}

.icon {
    text-decoration: none;
}

a {
    cursor: pointer;
}

p.blog_action:before {
    font-family: 'listudy';
    content: ")";
    color: var(--success-color);
    font-size: 2em;
    display: block;
    position: absolute;
    left: 0;
    top: -0.5em;
}

p.blog_action {
    font-weight: bold;
    padding-left: 3em;
    position: relative;
}

p.blog_tip:before {
    font-family: 'listudy';
    content: "*";
    font-size: 2em;
    display: block;
    position: absolute;
    left: 0.2em;
    top: 0;
}

p.blog_tip {
	background: var(--bg-highlight-color);
	border-radius: var(--small-border-radius);
	padding: 1em;
    padding-left: 3em;
    position: relative;
}
