nav {
    display: flex;
    max-width: 100%;
}

header {
    border-bottom: 1px solid var(--bg-highlight-color);
    margin-bottom: 1em;
}

.hamburger_container {
    display: none;
}

.dropdown-content a:hover {
    color: var(--font-color);
    color: var(--primary-font-offset);
}

@media (max-width: 600px) {                  
   .dropdowns_container, .nav_element, .logo {
        display: none;
   }
   .hamburger_container {
        display: inline-block;
   }
   nav {
        display: block;
   }
}

nav > div {
    display: flex;
}

nav > div > div {
    padding: 0px 0.2rem;
}

.nav_right {
    margin-left: auto;
}

.logo {
    font-weight: bold;
}

.logo:hover {
    text-decoration: underline;
}

.logo > a {
    text-decoration: none;
}

.logo_name {
    font-size: 2em;
    color: var(--font-highlight-color);
}

.logo_domain {
    font-size: 1.5em;
    color: var(--font-color);
}

.nav_element {
    padding: 0.5em;
}

.dropdown_trigger:hover {
    color: var(--font-highlight-color);
    background-color: var(--bg-highlight-color);
}

nav {
	font-variant: all-small-caps;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.settings-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--drop-shadow-color);
  z-index: 1;
  top: 4rem;
  background-color: var(--bg-highlight-color);
  right: 0;
}

.settings-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.settings-content a:hover {
    background-color: var(--primary-color);
    color: var(--primary-font-offset);
}

.show {display:block;}

.nav_right .dropdown-content {
    right: 0px;
}

.no_margin {
    margin: 0px;
}

/* Hover Menu */

.dropbtn {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: none;
  padding: 0 1em;
  margin: 0;
  border-radius: 0;
  border-left: 2px var(--bg-color) solid;
  font-size: 0.8em;
}

.nav_right .dropbtn {
    border-left: none;
    border-right: 2px var(--bg-color) solid;
}

.dropbtn:hover {
  color: var(--font-highlight-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-highlight-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: var(--primary-color);
    color: var(--primary-font-offset);
}

.dropdown-content > a:last-child {
    border-bottom-left-radius: var(--small-border-radius);
}

.nav_right .dropdown-content > a:last-child {
    border-bottom-right-radius: var(--small-border-radius);
    border-bottom-left-radius: 0px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-left: 2px var(--primary-color) solid;
    border-bottom-left-radius: var(--small-border-radius);
}
.nav_right .dropdown:hover .dropdown-content {
    display: block;
    border-left: none;
    border-right: 2px var(--primary-color) solid;
    border-bottom-right-radius: var(--small-border-radius);
    border-bottom-left-radius: 0px;
}

.dropdown:hover .dropbtn {
    background-color: var(--bg-highlight-color);
    border-left: 2px var(--primary-color) solid;
} 

.nav_right .dropdown:hover .dropbtn {
    background-color: var(--bg-highlight-color);
    border-left: none;
    border-right: 2px var(--primary-color) solid;
} 



/*
 * Hamburger Menu Start
 */
.hamburger_container {
  cursor: pointer;
  margin-left: auto;
}

.burger1, .burger2, .burger3 {
  width: 35px;
  height: 5px;
  background-color: var(--font-highlight-color);
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger_toggle .burger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.hamburger_toggle .burger2 {
  opacity: 0;
}

.hamburger_toggle .burger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
/*
 * Hamburger Menu End
 */
