<h1>Edit Book tag</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.book_tag_path(@conn, :update, @book_tag)) %>

<span><%= link "Back", to: Routes.book_tag_path(@conn, :index) %></span>
