<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <url>
     <loc><%= base_url() <> Routes.book_path(@conn, :recommended, @locale) %></loc>
   </url>
  <%= for tag <- @tags do %>
   <url>
     <loc><%= base_url() <> Routes.tag_path(@conn, :show, @locale, tag.slug) %></loc>
     <lastmod><%= format_date(tag.updated_at) %></lastmod>
   </url>
  <% end %>
</urlset>
