<h1>New Book opening</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.book_opening_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.book_opening_path(@conn, :index) %></span>
