<h1>Show Book opening</h1>

<ul>
  <li>
    <strong>Book:</strong>
    <%= @book_opening.book %>
  </li>
  <li>
    <strong>Opening:</strong>
    <%= @book_opening.opening %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.book_opening_path(@conn, :edit, @book_opening) %></span>
<span><%= link "Back", to: Routes.book_opening_path(@conn, :index) %></span>
