<h1><%= gettext "New Study"%></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.study_path(@conn, :create, @locale)) %>

<span><%= link "Back", to: Routes.study_path(@conn, :index, @locale) %></span>
