<h1>Changing password of <%= @user.username %></h1>
<p>Email: <%= @user.email %></p>

<%= form_for @changeset, @user.username, [multipart: true], fn f -> %>
  <%= label f, :password, "password" %>
  <%= text_input f, :password, placeholder: "some secret password", required: true %>
  <%= error_tag f, :password %>

  <%= submit "Save", class: "primary" %>
<% end %>

