<h1><%= gettext "Tactic"%> <%= @tactic.id %></h1>
<p><%= @tactic.fen %></p>


<script>
let fen = "<%= @tactic.fen %>";
let color = "<%= @tactic.color %>";
let moves = "<%= @tactic.moves %>";
</script>
