<h1><%= gettext "Tactic"%> <%= @tactic.id %></h1>


<script>
let fen = "<%= @tactic.fen %>";
let color = "<%= @tactic.color %>";
let moves = "<%= @tactic.moves %>";
let last_move = "<%= @tactic.last_move %>";
</script>
