<!DOCTYPE html>
<html class="blue cburnett" lang="<%= @locale %>">
  <head>
    <%= render "_head.html", assigns: assigns, conn: @conn%>
  </head>
  <body>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
