<h1>Edit Blind tactic</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.blind_tactic_path(@conn, :update, @blind_tactic)) %>

<span><%= link "Back", to: Routes.blind_tactic_path(@conn, :index) %></span>
