<h1>New Blind tactic</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.blind_tactic_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.blind_tactic_path(@conn, :index) %></span>
