<%= if Pow.Plug.current_user(@conn) do %>
  <%= form_for @conn, @action, fn f -> %>
    <%= label f, :comment, gettext "Comment" %>
    <%= textarea f, :comment, minlength: 4, maxlength: 500 %>
    <%= error_tag f, :comment %>

    <%= hidden_input f, :id, value: @id %>
    <%= hidden_input f, :type, value: @type %>

    <div>
      <%= submit gettext "Save" %>
    </div>
  <% end %>
<% else %>
  <p><%= gettext "Log in to comment"%></p>
<% end %>
